@charset "UTF-8";
/* CSS Document */

body{
    background-color: lightgray;
}
#stage{
    background-color: rgba(244, 179, 66, .7);
    position: relative;
    padding: 5px;
    margin: 1px;
    border: solid;
    height: 300px;
}
.color{
    padding: 5px;
    margin: 10px;
    border: solid black;
    width: 50px;
    display: inline;
    position: relative;
    float: left;
    text-align: center;
}
textarea{
    width: 50px;
}
#red{
    position: relative;
    float: left;
}
#green{
    position: relative;
    float: left;
}
#showColor{
    background-color: rgb(255,255,255);
    position: relative;
    float: right;
    right: 50px;
    width: 350px;
    height: 100px;
    padding: 5px;
    margin: 1px;
    border: ridge black;
    font-weight: 900;
}
textarea #hex {
    border: clear;
}